.expired-steam-btn {
    position: relative;
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* Additional button styles */
  }
  
  .expired-steam-btn .expired-steam-btn-text {
    padding-left: 15px; /* Adjust as needed */
    /* Additional text styles */
  }
  
  .expired-steam-btn .expired-steam-btn-icon {
    position: absolute;
    top: 50%;
    margin-left: 10px;
    left: 0;
    transform: translateY(-50%);
    width: 20px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    background-image: url("../../assets/Steam_icon_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  